RewriteEngine On

RewriteBase /

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^api/clips api/clips-api.php [L]
RewriteRule ^api/video api/api-video.php [L]
RewriteRule ^api/json api/api-json.php [L]

RewriteRule ^(.*)$ index.php [QSA,L]