{
    email zodiaczek@gmail.com
    debug
    auto_https off
}

ranchbot.pl {
    @api_matcher path /api/v1/*
    handle @api_matcher {
        reverse_proxy {$EXISTING_RANCHBOT_API_ADDRESS}
    }

    handle {
        root * /srv/php-app/public

        @static {
            file
            path *.css *.js *.svg *.png *.jpg *.jpeg *.gif *.ico *.mp4
        }

        handle @static {
            file_server
        }

        php_fastcgi php:9000 {
            root /srv/php-app/public
        }

        try_files {path} /index.php?{query}

        file_server
    }

    log {
        output stdout
        format console
    }

    encode gzip zstd
}

www.ranchbot.pl {
    redir https://ranchbot.pl{uri} permanent
}
