@import '../pages/main.css';

.search-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--page-padding);
    gap: var(--section-gap);
    text-align: center;
    min-height: 100vh;
}

.search-container {
    position: relative;
    width: var(--search-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

@media screen and (max-width: 850px) {
    .search-container {
        width: 80vw;
    }
}