.search-nav-button {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: flex;
    align-items: center;
    background: var(--gradient-user-btn);
    color: var(--color-text-light);
    padding: 8px 15px;
    border-radius: var(--radius-l);
    text-decoration: none;
    box-shadow: 0 4px 8px var(--shadow);
    transition: background 0.3s, box-shadow 0.3s, transform 0.2s;
    font-weight: 500;
    border: none;
    cursor: pointer;
    width: 70%;
    max-width: 224px;
    justify-content: center;
    font-size: 16px;
}

.search-nav-button:hover,
.search-nav-button:focus {
    background: var(--gradient-user-btn-hover);
    box-shadow: 0 6px 12px var(--shadow-strong);
    transform: translateY(-2px) translateX(-50%);
}

.search-nav-button:active {
    transform: translateY(1px) translateX(-50%) scale(0.97);
    box-shadow: 0 2px 4px var(--shadow);
    background: var(--gradient-user-btn);
    transition: transform 0.1s, box-shadow 0.1s;
}

.search-nav-button svg {
    margin-right: 8px;
    transition: transform 0.3s;
}

.search-nav-button:hover svg,
.search-nav-button:focus svg {
    transform: rotate(90deg) scale(1.08);
}

@media screen and (max-width: 850px) {
    .search-nav-button {
        top: 150px;
        padding: 6px 12px;
        font-size: 14px;
        width: 60%;
        max-width: 189px;
    }
}
