:root {
  color-scheme: light only;

  --color-primary: #1aa899;
  --color-secondary: #f2a94c;
  --color-button-bg: #888;
  --color-text: #fff;

  --shadow-default: 0 6px 14px rgba(0, 0, 0, 0.3);

  --gradient-main: linear-gradient(to bottom, var(--color-primary), var(--color-secondary));

  --transition-fast: 0.2s;
  --transition-default: 0.4s;

  --breakpoint-watch: 196px;
  --breakpoint-mobile: 481px;
  --breakpoint-tablet: 851px;
  --breakpoint-desktop: 1200px;
  --breakpoint-large: 1800px;

  --spacing-xs: 0.3125rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 0.9375rem;
  --spacing-lg: 1.25rem;
  --spacing-xl: 2.5rem;

  --font-size-xs: 0.7rem;
  --font-size-sm: 0.9rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light only;

    --color-primary: #1aa899;
    --color-secondary: #f2a94c;
    --color-button-bg: #888;
    --color-text: #fff;
  }

  * {
    filter: none !important;
  }
}
